
/* Your CSS Code here. */
html,body{
	height: 100%;
	
}
.holder {
	display: flex;
	align-items: center;
	justify-content:center;
	height:100%
}

.item-1{
	height: 100px;
	width:100px;
	background-color:rgb(255,0,0);
}